# Logs
logs
*.log
npm-debug.log*

# Yarn related
yarn-debug.log*
yarn-error.log*
yarn.lock

# Dependency directories
node_modules/

# Swp files
*.swp
*.swo

# Ignore Files
.eslintignore

# System Files
.DS_STORE

