$breakpoint-alpha: 480px;
@import url('http://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  
  th {
    color: #dd5;
    &.sortable {
      cursor: pointer;
    }
    .sort {
      float: right;
      margin-top: 8px;
    }
    .sortup {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
      text-align: right;
    }
    .sortdown {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid black;
      text-align: right;
    }
  }
  
  th, td {
    text-align: left;
    padding: 1em; 
  }
}
