$breakpoint-alpha: 480px;
@import url('http://fonts.googleapis.com/css?family=Montserrat:300,400,700');

.hyo {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 1em 0;
  width: 100%;
  min-width: 300px;

  .filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;

    select, input {
      margin: 5px 15px;
      width: 20%;
      min-width: 160px;
      overflow-x: hidden;
    }
    select {
      -webkit-appearance: button;
      -webkit-border-radius: 2px;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
      background-position: 97% center;
      background-repeat: no-repeat;
      color: #555;
      font-size: inherit;
      overflow: hidden;
      padding: 5px 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
    input {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      height: 20px;
      text-indent: 4px;
      border-radius: 5px;
      box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
      border: 1px solid #666;
    }
  }

  .hyo-table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    border-radius: .4em;
    border: 1px solid rgba(0,0,0,.1);
    border-collapse: collapse;
    overflow: auto;
  }

  .hyo-thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);
    .hyo-tr {
      text-align: center;
      display: inline-flex;

      .hyo-th {
        border-right: 1px solid rgba(0,0,0,.05);
        &.sortable {
          cursor: pointer;
        }
        .sort {
          float: right;
          margin-top: 8px;
        }
        .sortup {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid black;
          text-align: right;
        }
        .sortdown {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid black;
          text-align: right;
        }
        &:last-child {
          border-right:0;
        }
      }
    }
  }

  .hyo-tbody {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .hyo-tr {
      display: inline-flex;

      .hyo-td {
        border-right: 1px solid rgba(0,0,0,.02);
        &:last-child {
          border-right:0
        }
      }
    }

    .hyo-tr:nth-child(even) {
      background-color: #f2f2f2
    }
  }

  .hyo-th, .hyo-td {
    flex: 1 0 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
  }

  .hyo-paginate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 -2px 15px 0 rgba(0,0,0,.15);
    padding: 10px 5px;
    .navigator {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 15px;
      input {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        height: 20px;
        text-indent: 4px;
        border-radius: 5px;
        box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
        border: 1px solid #666;
        width: 20px;
      }
      button {
        background: rgba(0,0,0,.03);
        margin: 0 5px;
        float: left;
        line-height: 12px;
        border: 1px solid #ddd;
        box-shadow: 2px 2px 2px #888888;
        border-radius: .4em;
      }
    }
  }
}
